<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table List</title>
    <link rel="stylesheet" href="/css/styles.css">

    <script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
    
    <script th:src="@{/jquery/handsontable.full.min.js}"></script>
    <link th:href="@{/css/handsontable.full.min.css}" rel="stylesheet" />


</head>
<body>
    <header class="header">
        <h1>Database Table Manager</h1>
    </header>

    <main class="container">

        <section class="navigation">

            <h3 id="h3TableName" th:text="${tableName}">Table Name</h3>
            <h3 th:text="${logicalName}">Logical Name</h3>
            <!-- <input type="button" id="myButton" value="Add Column"/><br> -->

            <!-- <table class="table-list">
                <thead>
                    <tr>
                        <th>Logical Name</th>
                        <th>Physical Name</th>
                        <th>Data Type</th>
                        <th>Nullable</th>
                        <th>Primary Key</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="column : ${columns}">
                        <td th:text="${column.columnLogicalName}"></td>
                        <td th:text="${column.columnPhysicalName}"></td>
                        <td th:text="${column.dataType}"></td>
                        <td th:text="${column.isNullable}"></td>
                        <td th:text="${column.isPrimaryKey}"></td>
                    </tr>
                </tbody>
            </table> -->

            <div id="tblDetail"></div>

        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Database Management System</p>
    </footer>
    <script>

        $(document).ready(function() {
            let baseUrl = "/api/v1";


            function checkboxRenderer(instance, td, row, col, prop, value, cellProperties) {
                Handsontable.renderers.TextRenderer.apply(this, arguments);
                td.innerHTML = '<input type="checkbox" ' + (value ? 'checked' : '') + ' />';
            }


            const container = document.querySelector('#tblDetail');

            const hot = new Handsontable(container, {
                colHeaders: ['Physical Name', 'Logical Name', 'Data Type', 'Primary Key'],
                // readOnly: true,
                data: [],

                columns: [
                    {data: "columnPhysicalName"},
                    {data: "columnLogicalName"},
                    {data: "dataType"},
                    {data: "primaryKey", type: 'checkbox', renderer: checkboxRenderer }
                ],

                rowHeaders: true,
                // colHeaders: true,
                height: 'auto',
                autoWrapRow: true,
                autoWrapCol: true,
                minSpareRows: 1,
                licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
            });

            $.ajax({
                url: baseUrl + '/table-detail/' +  $('#h3TableName').text(),
                dataType: 'json',
                type: 'GET',
                success: function (res) {
                    
                    if(res.length == 0){
                        alert('No data found');
                        return;
                    }
                    // let matrixList = jsonToMatrix(res);
                    hot.loadData(res);
                    // hot.loadData(matrixList);
                }
            });

        });
    </script>
</body>
</html>


<!-- https://www.jqueryscript.net/table/Excel-like-Data-Grid-Editor-For-jQuery-handsontable.html -->